@media (min-width:992px){
    .section1 {
        background-color: #F1F3FF;
        padding-top: 136px;
        padding-left: 300px;
}
}

.section1 {
    background-color: #F1F3FF;
    padding-top: 136px;    
}